@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: hsl(0, 0%, 98%);
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

.container{
    max-width: 1440px;
    margin: 30px auto;
    padding: 0 15%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    grid-template-rows: repeat(4, 1fr);
}

header{
    /* width: 480px; */
    width: 30%;
    text-align: center;
    margin: 50px auto;
}

.heading--part-1{
    font-weight: 200;
    color: hsl(234, 12%, 34%);
}

.heading--part-2{
    font-weight: 600;
    margin-bottom: 15px;
}

header p{
    color: hsl(229, 6%, 66%);
}

h3{
    margin-bottom: 10px;
}

.card{
    background: #fff;
    padding: 30px;
    background-repeat: no-repeat;
    background-position: bottom 30px right 30px ;
    background-size: 50px;
    border-radius: 5px;
    box-shadow: rgba(51, 51, 151, 0.15) 0px 15px 17px -4px;
}

.card p{
    margin-bottom: 100px;
    color: hsl(229, 6%, 66%);
    font-size: 13px;
}


.card:nth-of-type(1){
    grid-row: 2 / 4;
    border-top: solid 4px hsl(180, 62%, 55%);
    background-image: url('../images/icon-supervisor.svg');
}

.card:nth-of-type(2){
    grid-row: 1 / 3;
    border-top: solid 4px hsl(0, 78%, 62%);
    background-image: url('../images/icon-team-builder.svg');
}

.card:nth-of-type(3){
    grid-row: 2 / 4;
    border-top: solid 4px hsl(212, 86%, 64%);
    background-image: url('../images/icon-calculator.svg');
}

.card:nth-of-type(4){
    grid-column: 2 / 3;
    grid-row: 3 / 5;
    border-top: solid 4px hsl(34, 97%, 64%);
    background-image: url('../images/icon-karma.svg');
}

.attribution{
    /* background: rgb(208, 201, 192); */
    background: rgb(221, 221, 221);
    color: hsl(234, 12%, 34%);
    text-align: center;
    height: 20px;
    line-height: 20px;
}

.attribution a{
    text-decoration: none;
    color: #000;
}

@media(max-width: 768px){
    header{
        width: 90%;
    }
    .container{
        grid-template-columns: 1fr;
        /* width: 100%; */
        padding: 0 7%;
    }

    .card:nth-of-type(1){
        grid-row: 1;
    }
    
    .card:nth-of-type(2){
        grid-row: 2;
    }
    
    .card:nth-of-type(3){
        grid-row: 3;
    }
    
    .card:nth-of-type(4){
        grid-column: 1;
        grid-row: 4;
    }
}